{
    "env": {
        "es6": true
    },
    "extends": [
        "airbnb-base",
        "plugin:jest/recommended"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "alert": false,
        "document": false
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "import/no-extraneous-dependencies": [
            "error", {
                "devDependencies": true
            }
        ],
        "no-use-before-define": [
            "error", {
                "functions": false,
                "classes": false
            }
        ],
        "no-alert": "off"
    }
}
