{
    "url": "https://your-slack.slack.com/",
    "other_urls": [
        "https://your-slack.slack.com/",
        "https://your-slack.slack.com/"
    ],
    "contents": [
        {
            "channel_id": "YOUR_CHANNEL_ID",
            "style": "channel-only",
            "width": "small-tab"
        },
        {
            "channel_id": "YOUR_CHANNEL_ID",
            "style": "body-only",
            "width": "large-tab"
        },
        {
            "channel_id": "YOUR_CHANNEL_ID",
            "style": "body-only",
            "width": "large-tab"
        },
        {
            "channel_id": "YOUR_CHANNEL_ID",
            "style": "body-only",
            "width": "small-tab"
        }
    ],
    "sticky": true
}
