{
    "url": "https://your-slack.slack.com/",
    "contents": [
        {
            "channel": "general",
            "style": "channel-only",
            "width": "small-tab"
        },
        {
            "channel": "general",
            "style": "body-only",
            "width": "large-tab"
        },
        {
            "channel": "random",
            "style": "body-only",
            "width": "large-tab"
        },
        {
            "channel": "general",
            "style": "sidebar-only",
            "width": "small-tab"
        }
    ]
}
