html{
    width:100%;
    height:100%;
}
body{
    margin:0;padding:0;
    height:100%;
}
#wrapper{
    width:100%;
    height:100%;
}
.horizontal-list{
    overflow-x: auto;
    white-space: nowrap;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size:0;
}
#body-only{
    height: 100%;
}
#channel-only{
    height: 100%;
}
#sidebar-only{
    height: 100%;
}
.large-tab{
    display: inline-block;
    height: 100%;
    width: 30%;
    border: solid;
    border-width: thin;
}
.small-tab{
    display: inline-block;
    height: 100%;
    width: 10%;
    border: solid;
    border-width: thin;
}
.webview{
    height: 97%;
    width: 100%;
    max-width: 100%;
}
.tab-tool-bar {
    width: 100%;
    height: 3%;
}
#menu-bar{
    width:100%;
    padding:5px;
    max-height:30px;
    background-color:#EFF0EE;
    color:#959595;
    display:block;
    white-space: nowrap;
}
